* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v2051_13 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2051_14 {
  width: 618px;
  height: 111px;
  background: url("../images/v2051_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 297px;
  left: 783px;
  overflow: hidden;
}
.v2051_15 {
  width: 618px;
  color: rgba(3,1,76,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 52px;
  opacity: 1;
  text-align: left;
}
.v2051_16 {
  width: 412px;
  height: 197px;
  background: rgba(156,213,255,1);
  opacity: 1;
  position: absolute;
  top: 442px;
  left: 371px;
}
.v4007_5 {
  width: 412px;
  height: 197px;
  background: rgba(156,213,255,1);
  opacity: 1;
  position: absolute;
  top: 438px;
  left: 917px;
}
.v2051_19 {
  width: 232px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 482px;
  left: 461px;
  font-family: Paytone One;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v2051_24 {
  width: 341px;
  height: 1024px;
  background: url("../images/v2051_24.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2051_25 {
  width: 341px;
  height: 100%;
  background: rgba(53,88,114,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2051_28 {
  width: 8px;
  height: 17px;
  background: rgba(3,1,76,1);
  opacity: 0.5;
  position: absolute;
  top: 309px;
  left: 207px;
}
.v2073_515 {
  width: 171px;
  height: 184px;
  background: url("../images/v2073_515.png");
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 92px;
  border-radius: 50%;
}
.v2073_516 {
  width: 165px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 227px;
  left: 83px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v2051_31 {
  width: 720px;
  height: 1921px;
  background: url("../images/v2051_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.7400000095367432;
  position: absolute;
  top: 119px;
  left: 1937px;
  overflow: hidden;
}
.v2051_32 {
  width: 336px;
  height: 100%;
  background: rgba(122,170,206,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2051_33 {
  width: 8px;
  height: 27px;
  background: rgba(122,170,206,1);
  opacity: 0.5;
  position: absolute;
  top: 226px;
  left: 484px;
}
.v2051_34 {
  width: 94px;
  height: 258px;
  background: rgba(122,170,206,1);
  opacity: 1;
  position: absolute;
  top: 137px;
  left: 102px;
  overflow: hidden;
}
.v2051_35 {
  width: 691px;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 190px;
  left: 1411px;
}
.v2051_36 {
  width: 49px;
  height: 53px;
  background: url("../images/v2051_36.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 193px;
  left: 1387px;
  overflow: hidden;
}
.v2051_37 {
  width: 58px;
  height: 42px;
  background: url("../images/v2051_37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 201px;
  left: 668px;
  overflow: hidden;
}
.v2051_38 {
  width: 61px;
  height: 68px;
  background: url("../images/v2051_38.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 453px;
  left: 1920px;
  overflow: hidden;
}
.v2051_39 {
  width: 198px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 664px;
  left: 1829px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v2051_40 {
  width: 70px;
  height: 55px;
  background: url("../images/v2051_40.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.41999998688697815;
  position: absolute;
  top: 557px;
  left: 1924px;
  overflow: hidden;
}
.v2051_41 {
  width: 158px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 565px;
  left: 1841px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v2051_42 {
  width: 60px;
  height: 62px;
  background: url("../images/v2051_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 652px;
  left: 1920px;
  overflow: hidden;
}
.v2051_43 {
  width: 53px;
  height: 64px;
  background: url("../images/v2051_43.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 69px;
  left: 1356px;
  overflow: hidden;
}
.v2051_44 {
  width: 239px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 353px;
  left: 121px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v4007_3 {
  width: 232px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 482px;
  left: 1026px;
  font-family: Paytone One;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
